<!--
<div>
    <h1>Personregister JSON API</h1>
    <form action="personregister">
        <label>NIN: </label>
        <input type="text" name="id" placeholder="Personnummer"/> <br />
        <input type="submit" value="Søk" />
    </form>
</div>
-->

<div ng-app="PersonregisterToJSON">
    <div ng-controller="ApiTestCtrl">
        <h1>{{title}}</h1>
        <input ng-model="sok"/>
        <button ng-click="getPerson()">Søk</button>
        <p>(01090097365 21058047691 13049544221 25065041963)</p>
        <div ng-hide="display">
            <h2>Person</h2>
            <p>Navn: {{fname}} {{enavn}}</p>
            <p>NIN: {{NIN}}</p>
            <p>Adresse: {{PostalAddress}}, {{PostalCode}} {{PostalPlace}}</p>
        </div>
        <div ng-hide="hideErr">
            <p>{{err}}</p>
        </div>
        
    </div>
</div>

@section scripts {
    @Scripts.Render("~/Scripts/angular.js")
    @Scripts.Render("~/Scripts/app/apitest-controller.js")
}

